.page {
  h1 {
    margin: 0;
    padding: 10px;
  }
  background-color: rgb(43, 95, 236);
  height: 100vh;
  .toolbar{
    display: flex;
    width: (150 * 8)+30px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;

  }
  .container {
    margin: auto;
    width: (150 * 8)+30px;
    height: 800px;
    overflow-y: scroll;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, .2);
    
  }
}
