.page {
  h1 {
    margin: 0;
    padding: 10px;
    color: aliceblue;
  }
  background-color: rgb(43, 95, 236);
  height: 100vh;
 
  .container {
    margin: auto;
    width: (150 * 8)+30px;
  
 
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, .2);
    
  }
}
